@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
}

#landing {
    height: 100vh;
    text-align: center;
}

#landing-wrap {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(truck.jpg);
    background-size: cover;
    background-position: bottom;
}

#landing img {
    max-width: 900px;
    width: 100%;
}


nav {
    background-color: #263238;
}

nav img {
    height: 65px;
    width: auto;
}

#about, #vtcs {
    padding-top: 50px;
}

#about img {
    width: 100%;
}

#vtcs h2 {
}

.vtc-logo {
    width: 100%;
    height:auto;
}

#testimonials-title {
    font-size: 3em;
}

#join {
    padding-bottom: 150px;
}

.m2 img {
    margin-top: 10px;
}